/* Add CSS Styling */

* {
}

.odd-number {
    background-color: #ffb6c1;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.text-size {
    font-size: 24px;
}

#blue-text {
    color: #0000ff;
    font-size: 36px;
}

#light-green {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}